@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

body {
  color: #fff;
  background-color: #121212;
  font-family: "Open Sans", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .table-option {
  background-color: #191414;
  margin: 2px;
  color: #fff;
} */

.card {
  background-color: #181818;
  width: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 18px;
  cursor: pointer;
  border-radius: 4px;
  word-break: break-all;
  white-space: normal;
  transition: 0.2s;
}

.card:hover {
  background-color: #212121;
}

.Wrapper {
  padding-left: 10px;
  white-space: nowrap;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button {
  background-color: #1db954;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 20px;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
  text-align: start;
}

.Text {
  font-size: 16px;
}

.Imageopt {
  box-shadow: 0px 0px 16px #000000;
}
